*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

h1{
  letter-spacing: 5px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 5px;
  
}

p{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

nav{
  background-color: rgba(128, 128, 128, 0.062);
  height: 60px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  
}

nav li{
  list-style: none;
  font-size: 20px;
  padding: 5px 15px;

}

nav li:hover{
  cursor: pointer;
  border: 0.5px solid gray;
  padding: 5px 15px;
  border-radius: 10px;
  color: gray;
}

#principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#principal div{
  height: 210px;
  margin: 50px;
  border-radius: 15px;
  object-fit: cover;
  background-position: center;
  transition-duration: 0.8s;
  transform: skewX();
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  
}

#principal div:hover{
  cursor: pointer;
}


#formulario{
  background-color: white;
  border: 1px solid black;
  margin: 20px 40px;
}

#formulario div{
  padding: 10px;

}

#formulario p{
  margin: 10px 0px;
}

#amount,#days,#salario,#salario-fgts{
  padding: 0px 10px;
  text-align: center;
  font-size: 18px;
  
}

.btn{
  padding: 5px 10px;
}

.btn:hover{
  cursor: pointer;
}

output{
  font-size: 18px;
}